.movie-page {
  background-color: rgb(var(--shades-dark));
}
.movie-page .movie-container {
  padding: 4rem 0;
}
.movie-page .movie-container .detail-wrapper {
}
.movie-page .movie-container .detail-wrapper .detail {
  margin: auto;
}
.movie-page .movie-container .detail-wrapper .detail .movie-poster {
  padding: 1rem;
}
.movie-page .movie-container .detail-wrapper .detail .movie-poster .movie {
  background-color: rgb(var(--primary-black));
  border-radius: 1rem;
  overflow: hidden;
}

.movie-page .movie-container .detail .movie-poster .movie .movie-image {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: -0.25rem;
}

.movie-page .movie-container .detail .movie-poster .movie .movie-image > img {
  width: 100%;
  height: 100%;
}

.movie-page
  .movie-container
  .detail
  .movie-poster
  .movie
  .movie-image
  .movie-rating {
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
  position: absolute;
  font-weight: 700;
  right: 1rem;
  bottom: 1.25rem;
  border-radius: 0 1rem 0 1rem;
  background-color: rgb(var(--primary-black));
}
.movie-page .movie-container .detail .movie-detail {
  padding: 1rem;
  color: rgb(var(--white));
}
.movie-page .movie-container .detail .movie-detail > .title {
  font-weight: 700;
  font-size: 2.25rem;
}

.movie-page .movie-container .detail .movie-detail .others {
}

.movie-page .movie-container .detail .movie-detail .others > .genres {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.movie-page
  .movie-container
  .detail
  .movie-detail
  .others
  > .genres
  .genre-wrapper {
  padding-right: 0.5rem;
  padding-bottom: 0.125rem;
}

.movie-page
  .movie-container
  .detail
  .movie-detail
  .others
  > .genres
  .genre-wrapper
  .genre {
  /* color: rgb(var(--black)); */
  width: fit-content;
  /* background-color: rgb(var(--white)); */
}

.movie-page .movie-container .detail .movie-detail .others > .release {
  margin-top: 0.5rem;
}
.movie-page .movie-container .detail .movie-detail .others > .runtime {
}

.movie-page .movie-container .detail .movie-detail .others > .revenue {
  margin-top: 0.5rem;
}

.movie-page .movie-container .detail .movie-detail .others > .budget {
}

.movie-page .movie-container .detail .movie-detail .overview {
  margin-top: 1rem;
}

.movie-page .movie-container .detail .movie-detail .overview > .title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 0;
}

.movie-page .movie-container .detail .find-wrapper .find-youtube {
  text-align: center;
  padding: 1rem;
  width: 100%;
  margin: auto;
}

.movie-page .movie-container .detail .find-wrapper.find-youtube {
}
.movie-page .movie-container .detail .find-wrapper .find-youtube > button {
  display: flex;
  font-size: 1.25rem;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: rgb(var(--white));
  padding: 1rem 1rem;
  font-weight: 700;
  transition: all 0.25s;
  background: linear-gradient(
    135deg,
    rgb(var(--primary-theme)) 0%,
    rgb(var(--secondary-theme)) 100%
  );
  border-radius: 1rem;
  border: 0;
  cursor: pointer;
}
.movie-page
  .movie-container
  .detail
  .find-wrapper
  .find-youtube
  > button:hover {
  opacity: 0.8;
  transition: all 0.25s;
}

.movie-page .movie-container .detail .movie-detail .production {
  margin-top: 1rem;
}
.movie-page .movie-container .detail .movie-detail .production .title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 0;
}
.movie-page .movie-container .detail .movie-detail .production .sub-title {
  font-size: 1rem;
  font-weight: 700;
}

.youtube-wrapper {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 0;
}

.youtube-wrapper .youtube {
  display: inline-block;
  padding: 0 1rem;
}
.youtube-wrapper .youtube:first-child {
  padding-left: 0;
}
.youtube-wrapper .youtube:last-child {
  padding-right: 0;
}
.youtube-wrapper .youtube .player {
  margin: auto;
  border: 0;
}
